
#hobbi-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    grid-gap: 30px;
    align-items: center;
    grid-template-areas:
		'img videojatekok'
		'fozes img'
		'kirandulas img'
        'footer' 'footer'


}



